<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <link rel="stylesheet" href="/css/products/editProduct-styles.css">
        <link rel="stylesheet" href="../css/createProduct-styles">
        <title>Creación de Producto</title>
</head>

<body>
    <%- include('../partials/partialsHeaderLoginRegister.ejs') %>
        <main class="contenedor-padre">
            <section class="contenedor">
                <h1 class="titulo">Edicion de Producto: <%= productToEdit.nombre %></h1>
                <form action="/products/editProduct/<%= productToEdit.id %>?_method=PUT" method="POST" class="create-form" enctype="multipart/form-data">

                    <div class="formularioLabel">
                        <label for="NombreProducto" class="titulo-form">Nombre del Producto</label>
                        <input type="text" id="NombreProducto" name="NombreProducto" class="relleno-formulario"
                            value="<%= productToEdit.nombre %>">
                    </div>

                    <div class="formularioLabel">
                        <label for="descripcion" class="titulo-form">Descripción</label>
                        <textarea name="descripcion" id="descripcion" rows="5" class="relleno-formulario"
                            value=""><%= productToEdit.descripcion %></textarea>
                    </div>

                    <div class="formularioLabel">
                        <label for="tags" class="titulo-form">Tags</label>
                        <input type="text" name="tags" id="tags" class="relleno-formulario" value="<%= productToEdit.tags %>">
                    </div>

                    <div class="formularioLabel">
                        <label for="imagenProducto" class="titulo-form">Imagen del Producto</label>
                        <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg, .png" multiple
                            class="relleno-formulario">
                    </div>

                    <div class="formularioLabel">
                        <label for="categoriaProducto" class="titulo-form">Categoría</label>
                        <select id="categoria" name="categoria" required class="relleno-formulario">
                            <option value="">-Seleccione una categoría-</option>
                            <option value="mates" <%= productToEdit.categoria === "mates" ? "selected" : "" %>>Mates</option>
                            <option value="jarron" <%= productToEdit.categoria === "jarron" ? "selected" : "" %>>Jarron</option>
                            <option value="maceta" <%= productToEdit.categoria === "maceta" ? "selected" : "" %>>Maceta</option>
                            <option value="figurita" <%= productToEdit.categoria === "figurita" ? "selected" : "" %>>Figurita</option>
                        </select>
                    </div>

                    <div class="formularioLabel-ultimo">
                        <label for="precio" class="titulo-form">Precio</label>
                        <input type="number" name="precio" id="precio" class="relleno-formulario" step="0.01"
                            value="<%= productToEdit.precio %>">
                    </div>
                    <button type="submit" class="crear-boton">Editar Producto</button>
                    <button type="submit" class="volver-boton">Volver</button>
                </form>
            </section>
        </main>
        <%- include('../partials/partialsFooter.ejs') %>
</body>

</html>