<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <link rel="stylesheet" href="/css/products/products-styles.css">
        <title>Productos - Poliforma</title>
</head>

<body>
    <%- include('../partials/partialsHeader.ejs') %>

        <main>
            <section class="contenedor-productos">
                <div class="resultados-filtros">
                    <span class="resultados">resultados</span>
                    <div class="filtro">
                        <span class="ordenar">Ordenar por:</span>
                        <select name="filtro" id="filtro">
                            <option value="relevancia" selected>Mas relevantes</option>
                            <option value="mayor">Mayor precio</option>
                            <option value="menor">Menor precio</option>
                        </select>
                    </div>
                </div>
                <% products.forEach((product) => { %>
                <article class="producto-carta">
                    <a href="products/productDetail/<%= product.id %>">
                    <div class="contendor-imagen">
                            <img src="/images/<%= product.imagen %>" alt="imagen <%= product.name %>" height="100px">
                        </div>
                        <div class="producto-info">
                            <p class="producto-nombre"><%= product.nombre %></p>
                            <p class="precio"><%= product.precio %>$</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    </a>
                    <div class="carrito"> 
                        <button class="boton-carrito">Agregar al Carrito</button>
                    </div>
                </article>
                <% }); %>
            </section>
        </main>

        <%- include('../partials/partialsFooter.ejs') %>
</body>

</html>