<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <link rel="stylesheet" href="../css/users/login-styles.css">
        <link rel="stylesheet" href="../css/createProduct-styles">
        <title>Log in</title>
</head>

<body>
    <%- include('../partials/partialsHeader.ejs') %>

        <main class="contenedor-padre">
            <section class="contenedor">
                <form action="/users/login" method="POST" class="login" id="loginForm">
                    <h1 class="titulo">Inicia Sesión</h1>
                    <input type="email" placeholder="Correo Electronico" name="email" id="email" 
                    value="<%= locals.oldData ? oldData.email : null %>">>
                    <span class="error email_vacio">El e-mail no puede estar vacío</span>
                    <span class="error email_invalido">El e-mail no es valido</span>
                    <input type="password" placeholder="Contraseña" name="contraseña" id="contraseña"
                    value="<%= locals.oldData ? oldData.contraseña : null %>">
                    <span class="error contrasenia_obligatoria">La contraseña es obligatoria</span>
                    <div class="recordarme">
                        <input type="checkbox" id="recordarme" name="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>

                    <button type="submit" class="login-boton">Inicia Sesión</button>
                    <button type="submit" class="google-boton"><i class="fa-brands fa-google"
                            style="color: #000000;"></i>Inicia Sesión con Google</button>
                </form>


                <div class="cuenta-creada">
                    <span>¿No tienes una cuenta? <a href="/users/register">Registrate aquí</a></span>
                </div>
            </section>
        </main>
        <%- include('../partials/partialsFooter.ejs')%>
        <script src="/js/validateLogin.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</body>

</html>